{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row my-5">
            <div class="col-12">
                <h3>Display country with up to 5 most populated places</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <form id="countryform" method="post" action="">
                    {% csrf_token %}
                    {{form|crispy}}
                </form>
            </div>
            <div class="col-md-8">
                {% if image_base64 %}
                <img src="data:image/png;base64,{{image_base64}}" alt="country image" width="100%" height=auto />
                {% else %}
                <script>
                    document.getElementById('countryform').submit();
                </script>
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>